.header {
  letter-spacing: 2px;
}

.footer {
  height: 50px;
  background-color: #264653;
}

.underline {
  border-color: #264653;
  background-color: #264653;
}

.blurredCircle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 80%;
  background: #F3DE8A;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  opacity: 0.9;
  filter: blur(40px);
  z-index: -1;
}


