.header {
  letter-spacing: 2px;
}

.footer {
  height: 50px;
  background-color: #264653;
}

.grayColoring {
  border-color: #264653;
  background-color: #264653;
}

.yellowBackgroundContainer {
  width: 100vw;
  height: 80%;
  z-index: -1;
  position: absolute;
  top: 0;
}

.square {
  height: 70%;
  width: 100vw;
  background-color: #F3DE8A;
  position: relative;
  border-radius: 0 0 0px 0px;
}

.blurredHalfCircle {
  position: relative;
  bottom: 50px;
  width: 105%;
  height: 20%;
  background-color: #F3DE8A;
  border-radius: 0px 0px 60% 60%;
  filter: blur(15px);
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #F3DE8A;
  z-index: -1;
}

