@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

.dark-gray-text {
color: #264653
}

body {
  height: 100%;
  overflow-x: hidden;
  background-color: #F3DE8A;
  padding-right: 0 !important;
}
